@charset "UTF-8";

* {
	font-family: Arial, Helvetica, sans-serif;
}

body {

	display: flex;
	flex-direction: column;

}

header {
	width: 100%;
	background-color: #231f20;
}



h2 {
	text-align: center;
	color: white;
	background-color: black;
	padding-top: 1%;
	padding-bottom: 1%;
}

h3 {
	text-align: center;
	color: red;

}

.container {
	width: 50%;
	margin: 0 auto;
}

.resultados {
	margin-top: 2em;
}

.menu {
	display: flex;
	justify-content: center;
	flex-direction: column;

}

.dropbtn {
	background-color: #ff8000;
	color: white;
	padding: 16px;
	font-size: 16px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: bold;
	border: none;
	cursor: pointer;
	transition: 0.5s;
	margin-right: 0.1em;
	text-align: center;
	margin-left: 41%;
	padding-left: 7%;
	padding-right: 7%;
	margin-top: 1%;
	margin-bottom: 1%;
}

button.dropbtn:nth-child(2) {
	padding-right: 125px;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}

.imagenLogo {
	margin: auto;
	margin-left: 36%;
}

.botonInicioSesion {
	float: right;
	margin-right: 16%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 1%;
	color: white;
	border: 5px solid white;
	background-color: #231f20;
}

.botonInicioSesion:hover {
	float: right;
	margin-right: 16%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 1%;
	transition: 0.5s;
	cursor: pointer;
	color: #231f20;
	border: 5px solid #231f20;
	background-color: white;
}

.botonRegistro {
	float: right;
	margin-right: -300px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 1%;
	color: white;
	border: 5px solid white;
	background-color: #231f20;
}

.botonRegistro:hover {
	float: right;
	margin-right: -300px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 1%;
	cursor: pointer;
}